{% extends "layout/principal.html" %}
{% block titulo %}Recordatorios{% endblock %}
{% set active_page=  'calendario' %}
{% block css %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block contenido %}
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Descripción</th>
					<th>Inicio</th>
					<th>Fin</th>
					<th>Eliminar</th>
				</tr>
				<tbody>
					{% for data in obj%}
					<tr>
						<td>{{data.summary}}</td>
						<td>{{data.start.dateTime}}</td>
						<td>{{data.end.dateTime}}</td>
						<td>
							<form action="/eliminar/calendario.html" method="post">
								<input type="hidden" name="idcal" value="{{data.id}}">
								<button role="submit" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<a href="/agregar/calendario.html" class="btn btn-circle btn-info"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}
