{% extends "layout/principal.html" %}
{% block titulo %}Marcas{% endblock %}
{% set active_page=  'marca' %}
{% block contenido %}
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Nombre</th>
					<th>Opciones</th>
				</tr>
				<tbody>
					<tr>
						<td>Prueba</td>
						<td>Botones</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<a href="/agregar/marca.html" class="btn btn-circle btn-info"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}
