<form action="index.html" method="post">
  <div class="form-group">
		<label>Marca</label>
		<select class="form-control">
			<option>Option 1</option>
		</select>
	</div>
  <div class="form-group">
		<label>Tipo</label>
		<select class="form-control">
			<option>Option 1</option>
		</select>
	</div>
  <div class="form-group">
		<label>Temporada</label>
		<select class="form-control">
			<option>Option 1</option>
		</select>
	</div>
  <div class="form-group">
		<label>Material</label>
		<select class="form-control">
			<option>Option 1</option>
		</select>
	</div>
  <div class="form-group">
		<label>Género</label>
		<select class="form-control">
      <option>M</option>
			<option>F</option>
		</select>
	</div>
  <div class="form-group">
    <label>Número: </label>
    <input type="number" class="form-control" placeholder="26">
  </div>
  <div class="form-group">
    <label>Costo: </label>
    <input type="number" class="form-control" placeholder="182.00">
  </div>
  <div class="form-group">
    <label>Existencia: </label>
    <input type="number" class="form-control" placeholder="2">
  </div>
</form>
