{% extends "layout/principal.html" %}
{% block titulo %}Zapatos{% endblock %}
{% set active_page=  'zapatos' %}
{% block contenido %}
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Marca</th>
					<th>Tipo</th>
					<th>Temporada</th>
					<th>Material</th>
					<th>Genero</th>
					<th>Numero</th>
					<th>Costo</th>
					<th>Existencia</th>
				</tr>
				<tbody>
					{% for item in obj%}
					<tr>
						<th>{{item.marca}}</th>
						<th>{{item.tipo}}</th>
						<th>{{item.temporada}}</th>
						<th>{{item.material}}</th>
						<th>{{item.genero}}</th>
						<th>{{item.numero}}</th>
						<th>{{item.costo}}</th>
						<th>{{item.existencia}}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<a href="/agregar/zapato.html" class="btn btn-circle btn-info"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}
