{% extends "layout/principal.html" %}
{% block titulo %}Agregar Almacen{% endblock %}
{% block contenido %}
<form action="/agregar/almacen.html" method="post">
  <div class="form-group">
    <label for="zapatos" >Zapatos</label>
    <select name="zapatos" class="form-control">
      <option>Option</option>
    </select>
  </div>
  <div class="form-group">
    <label for="cantidad">Cantidad: </label>
    <input type="number" name="cantidad" class="form-control">
  </div>
  <div class="form-group">
    <label for="fecha">Fecha: </label>
    <input type="date" name="fecha"  class="form-control" placeholder="06/Jun/2006">
  </div>
  <div class="form-group">
    <label for="tipo" >Tipo de calzado</label>
    <select name="tipo" class="form-control">
      <option>Option</option>
    </select>
  </div>
  <div class="form-group">
    <input type="submit" value="Enviar" class="btn btn-info">
  </div>
</form>
{% endblock %}
