{% extends "layout/principal.html" %}
{% block titulo %}Pedidos{% endblock %}
{% block contenido %}
<form action="/agregar/detalle_pedido.html" method="post">
  <div class="form-group">
		<label>Pedido</label>
		<select name="pedido" class="form-control">
      <option value="">Option</option>
		</select>
	</div>
  <div class="form-group">
		<label>Zapato</label>
		<select name="zapato" class="form-control">
      <option value="">Option</option>
		</select>
	</div>
  <div class="form-group">
    <label>Cantidad: </label>
    <input type="number" name="cantidad" type="number" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Enviar" class="btn btn-info">
  </div>
</form>
{% endblock %}
