{% extends "layout/principal.html" %}
{% block titulo %}Tareas{% endblock %}
{% active_page='tareas' %}
{% block contenido %}
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Tarea</th>
					<th>Kind</th>
					<th>Modificada</th>
				</tr>
				<tbody>
					{% for data in response %}
						<tr>
							<td>{{data.title}}</td>
							<td>{{data.kind}}</td>
							<td>{{data.updated}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
